@import "colors";

.app {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 5px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;

  &--no-margin {
    margin: 0;
  }

  &--white {
    color: white;
  }
}

.info {
  font-size: 14px;
  color: $DARK_BLUE;
  padding: 5px;
  border: 1px solid $DARK_BLUE;

  &--emphasis {
    font-style: italic;
    border: none;
  }
}

.button {
  border: 1px solid darkgray;
  border-radius: 4px;
  background-color: #f0f0f0;
  padding: 10px;

  &--success {
    background-color: green;
    border-color: darkgreen;
    color: white;
  }
}

.link {
  color: #8b0000;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}

.image {
  border-radius: 50%;
  border: 1px solid darkgray;
}

.content {
  border: 1px solid green;
}

.row {
  display: flex;
  padding: 5px;
  &__item {
    flex-grow: 1;
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  border: 1px solid purple;
  border-radius: 10px;
  // padding: 5px;

  &__title {
    background-color: #008b8b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;

    &--reverse {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &__content {
    padding: 5px;
  }
}

.card-manager {
  display: flex;

  &__item {
    flex: 1 1 0;
    margin: 5px;
  }
}
